[Unit]
Description=Python API on port 80
After=network.target

[Service]
Type=simple
WorkingDirectory=/App
ExecStart=/usr/bin/node /App/api.js
Restart=on-abort

[Install]
WantedBy=multi-user.target
